@theme {
  --color-washed-blue/washed-blue-50: oklch(0.969, 0.020, 12);
  --color-washed-blue/washed-blue-100: oklch(0.896, 0.020, 271);
  --color-washed-blue/washed-blue-200: oklch(0.846, 0.040, 248);
  --color-washed-blue/washed-blue-300: oklch(0.774, 0.077, 237);
  --color-washed-blue/washed-blue-400: oklch(0.731, 0.103, 233);
  --color-washed-blue/washed-blue-500: oklch(0.666, 0.149, 227);
  --color-washed-blue/washed-blue-600: oklch(0.622, 0.137, 228);
  --color-washed-blue/washed-blue-700: oklch(0.519, 0.111, 228);
  --color-washed-blue/washed-blue-800: oklch(0.434, 0.089, 228);
  --color-washed-blue/washed-blue-900: oklch(0.364, 0.069, 229);
  --color-washed-purple/washed-purple-50: oklch(0.982, 0.026, 19);
  --color-washed-purple/washed-purple-100: oklch(0.939, 0.018, 342);
  --color-washed-purple/washed-purple-200: oklch(0.909, 0.020, 308);
  --color-washed-purple/washed-purple-300: oklch(0.865, 0.032, 278);
  --color-washed-purple/washed-purple-400: oklch(0.839, 0.041, 269);
  --color-washed-purple/washed-purple-500: oklch(0.798, 0.057, 258);
  --color-washed-purple/washed-purple-600: oklch(0.745, 0.053, 259);
  --color-washed-purple/washed-purple-700: oklch(0.620, 0.043, 259);
  --color-washed-purple/washed-purple-800: oklch(0.517, 0.034, 260);
  --color-washed-purple/washed-purple-900: oklch(0.429, 0.027, 260);
  --color-primary-blue/primary-blue-50: oklch(0.955, 0.011, 360);
  --color-primary-blue/primary-blue-100: oklch(0.857, 0.041, 233);
  --color-primary-blue/primary-blue-200: oklch(0.786, 0.082, 226);
  --color-primary-blue/primary-blue-300: oklch(0.695, 0.144, 222);
  --color-primary-blue/primary-blue-400: oklch(0.641, 0.189, 219);
  --color-primary-blue/primary-blue-500: oklch(0.569, 0.263, 215);
  --color-primary-blue/primary-blue-600: oklch(0.533, 0.242, 216);
  --color-primary-blue/primary-blue-700: oklch(0.446, 0.196, 216);
  --color-primary-blue/primary-blue-800: oklch(0.374, 0.158, 216);
  --color-primary-blue/primary-blue-900: oklch(0.312, 0.127, 216);
  --color-primary-purple/primary-purple-50: oklch(0.944, 0.027, 351);
  --color-primary-purple/primary-purple-100: oklch(0.819, 0.054, 294);
  --color-primary-purple/primary-purple-200: oklch(0.733, 0.085, 275);
  --color-primary-purple/primary-purple-300: oklch(0.624, 0.137, 256);
  --color-primary-purple/primary-purple-400: oklch(0.570, 0.177, 244);
  --color-primary-purple/primary-purple-500: oklch(0.511, 0.255, 227);
  --color-primary-purple/primary-purple-600: oklch(0.477, 0.235, 227);
  --color-primary-purple/primary-purple-700: oklch(0.399, 0.190, 229);
  --color-primary-purple/primary-purple-800: oklch(0.332, 0.152, 230);
  --color-primary-purple/primary-purple-900: oklch(0.276, 0.122, 232);
  --color-Neutrals/neutrals-1: oklch(1.003, 0.031, 29);
  --color-Neutrals/neutrals-2: oklch(0.995, 0.030, 28);
  --color-Neutrals/neutrals-3: oklch(0.974, 0.029, 28);
  --color-Neutrals/neutrals-4: oklch(0.959, 0.029, 28);
  --color-Neutrals/neutrals-5: oklch(0.889, 0.025, 25);
  --color-Neutrals/neutrals-6: oklch(0.810, 0.022, 21);
  --color-Neutrals/neutrals-7: oklch(0.646, 0.015, 6);
  --color-Neutrals/neutrals-8: oklch(0.472, 0.011, 330);
  --color-Neutrals/neutrals-9: oklch(0.398, 0.010, 302);
  --color-Neutrals/neutrals-10: oklch(0.280, 0.015, 270);
  --color-Neutrals/neutrals-11: oklch(0.250, 0.017, 260);
  --color-Neutrals/neutrals-12: oklch(0.205, 0.021, 253);
  --color-Neutrals/neutrals-13: oklch(0.092, 0.066, 215);
  --color-brand/brand-washedPurple: oklch(0.798, 0.058, 257);
  --color-brand/brand-washedBlue: oklch(0.666, 0.149, 227);
  --color-brand/brand-primaryBlue: oklch(0.569, 0.263, 215);
  --color-brand/brand-primaryPurple: oklch(0.511, 0.255, 227);
  --color-brand/brand-dark: oklch(0.095, 0.055, 222);
  --font-dm-sans: DM Sans;
  --text-sm: 0.8125rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.5625rem;
  --text-2xl: 1.625rem;
  --text-3xl: 2.1875rem;
  --text-4xl: 2.8125rem;
  --text-5xl: 3.4375rem;
  --text-6xl: 4.0625rem;
  --radius-1: 0rem;
  --radius-2: 0.01678408868610859rem;
  --radius-3: 0.02070372737944126rem;
  --radius-4: 0.03125rem;
  --radius-5: 0.03444623202085495rem;
  --radius-6: 0.04249056056141853rem;
  --radius-7: 0.050217047333717346rem;
  --radius-8: 0.0625rem;
  --radius-9: 0.0688924640417099rem;
  --radius-10: 0.08498112112283707rem;
  --radius-11: 0.09422057121992111rem;
  --radius-12: 0.10333869606256485rem;
  --radius-13: 0.10671122372150421rem;
  --radius-14: 0.11622418463230133rem;
  --radius-15: 0.125rem;
  --radius-16: 0.1274716854095459rem;
  --radius-17: 0.1328125rem;
  --radius-18: 0.15065114200115204rem;
  --radius-19: 0.1875rem;
  --radius-20: 0.20140908658504486rem;
  --radius-21: 0.23262746632099152rem;
  --radius-22: 0.24844473600387573rem;
  --radius-23: 0.25rem;
  --radius-24: 0.28266170620918274rem;
  --radius-25: 0.2869536578655243rem;
  --radius-26: 0.29909247159957886rem;
  --radius-27: 0.3013022840023041rem;
  --radius-28: 0.3125rem;
  --radius-29: 0.3486725687980652rem;
  --radius-30: 0.36894041299819946rem;
  --radius-31: 0.375rem;
  --radius-32: 0.40173637866973877rem;
  --radius-33: 0.4363863468170166rem;
  --radius-34: 0.4375rem;
  --radius-35: 0.47479942440986633rem;
  --radius-36: 0.5rem;
  --radius-37: 0.5382969379425049rem;
  --radius-38: 0.5856807231903076rem;
  --radius-39: 0.625rem;
  --radius-40: 0.75rem;
  --radius-41: 0.875rem;
  --radius-42: 0.9375rem;
  --radius-43: 1rem;
  --radius-44: 1.1229701042175293rem;
  --radius-45: 1.305698275566101rem;
  --radius-46: 1.5065114498138428rem;
  --radius-47: 1.6106219291687012rem;
  --radius-48: 1.75rem;
  --radius-49: 1.875rem;
  --radius-50: 2.0086817741394043rem;
  --radius-51: 2.5rem;
  --radius-52: 2.5042381286621094rem;
  --radius-53: 3.13167667388916rem;
  --radius-54: 3.3568179607391357rem;
  --radius-55: 4.140745639801025rem;
  --radius-56: 4.328125rem;
  --radius-57: 6rem;
  --radius-58: 62.4375rem;
  --radius-none: 0rem;
}